:root{
    
--Strong-Cyan: hsl(171, 66%, 44%);
--Light-Blue: hsl(233, 100%, 69%);
--Dark-Grayish-Blue: hsl(210, 10%, 33%);
--Grayish-Blue: hsl(201, 11%, 66%);

--font_400: 400;
--font_600: 600;
}

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
         font-size: 1.8rem;
         font-family: 'Bai Jamjuree', sans-serif;
         background-color: white;
}

.flex{
    display: flex;
}

.flex__direction{
    flex-direction: column;
}

.flex__align{
      align-items: center;
}

.flex__justify{
    justify-content: center;
}

.padd__ver{
    padding-left: 4rem;
    padding-right: 4rem;
}

.inner__container{
    max-width: 144rem;
    margin: 0 auto;
}

.head__text{
    max-width: 68rem;
    text-align: center;
}

.head__small{
    font-size: clamp(2.5rem, 2.5vw, 3.5rem );
}

.desc__small{
    font-size: 1.4rem  !important;
}


/* === start of hero === */

.hero{
            background: url('images/bg-header-desktop.png') white;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: top;
            padding-top: 9rem;
            padding-bottom: 9rem;
}

.img__wrapper{
    margin: 3.25rem 0rem;
}

.hero__text{
    margin: 3.25rem 0rem;
} 

.hero__text h1{
    /* font-size: 4.3rem; */
    font-size: clamp(3rem, 3.5vw, 4.3rem );
}

.heading{
    color: var(--Dark-Grayish-Blue);
    margin-bottom: 2rem;
}

.desc{
    color: var(--Grayish-Blue);
    font-size: 1.6rem;
    line-height: 1.5;
}


.cta__buttons{
    text-align: center;
}

.btn{
    border: none;
    font-family: 'Bai Jamjuree', sans-serif;
    /* font-size: 1.8rem; */
    font-size: clamp(1.6rem, 1.5vw, 1.8rem);
    color: white;
    cursor: pointer;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
    transition: opacity 0.3s ease-in-out;
}

.btn:hover{
    opacity: 0.8;
}

.btn__ios{
    background-color: var(--Strong-Cyan);
    margin: 1rem;
}

.btn__mac{
        background-color: var(--Light-Blue);
        margin: 1rem;
}

/* === end of of hero === */


/* === start of of features === */

.feature{
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.feature-1__body{
    width: 100%;
    margin-top: 8rem;
    overflow-x: hidden;
}

.feature-1__img__wrapper{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.feature-1__img__wrapper img{
    display: block;
}

.feature-1__detail{
    width: 50%;
    padding-left: 10rem;
}

.feature-1__detail ul{
       max-width: 34.5rem;
       list-style-type: none;
}

.feature-1__detail li:not(:last-child){
    margin-bottom: 6.5rem;
}

.feature-1__detail li h3{
    margin-bottom: 1rem;
}

.feature-2{
    padding-bottom: 0;
}

.feature-2__img__wrapper{
    margin-top: 7rem;
}

.feature-2__img__wrapper img{
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.feature-3{
    padding-bottom: 3rem;
}
.feature-3__body{
    margin-top: 3.5rem;
    width: 85%;
    text-align: center;
    align-items: baseline;
}

.feature-3__body__feature{
    padding: 3.5rem 2rem;
    flex: 1;
}

.feature-3__body__feature img{
    margin-bottom: 4rem;
}

/* === end of of features === */


/* === start of of clients === */

.clients{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
   .clients__content{
       width: 85%;
       justify-content: space-between;
   }
   .clients__content img{
       padding: 3rem 2rem;
       max-width: 100%;
       object-fit: cover;
   }
/* === end of of clients === */

  
/* === start of of cta === */

 .cta{
     padding-top: 6rem;
     padding-bottom: 6rem;
 }

 .bot__cta{
     margin-top: 4rem;
 }
/* === end of of cta === */

/* === start of of footer === */
  .footer{
      background-color: #F5F6F8;
      padding-top: 6rem;
      padding-bottom: 6rem;
  }

  .footer__content{
      width: 85%;
      display: grid;
      grid-template-columns: repeat(4, 1fr) 2fr;
      gap: 2rem;

  }

  .footer__logo__wrapper img{
      display: block;
      width: 6rem;
      height: 6rem;
      object-fit: cover;
  }

  .footer__item{
      align-self: start;
  }

  .footer__nav__list{
      list-style-type: none;
  }

  .footer__nav__list a{
      display: inline-block;
      text-decoration: none;
      color: var(--Dark-Grayish-Blue);
      font-size: 1.6rem;
      margin-bottom: 1.5rem;
      transition: color 0.3s ease-in-out;
  }

  .footer__nav__list a:hover{
      color: var(--Strong-Cyan);
  }

  .social__links{
      justify-self: end;
      align-self: center;
  }
  
  .social__links a{
      margin: 1.5rem;
  }

   .social__links svg{
     display: block;
 }


.social__links path{
    transition: fill 0.3s ease-in-out;

}

  .social__links svg:hover path{
    fill: var(--Strong-Cyan)
  }


/* === end of of footer === */

.credits{
    background-color: #F5F6F8;
    margin-top: 3rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }


  @media screen and (max-width: 1200px) {
    .clients__content, .footer__content{
        width: 100%;
    }

    .footer__content{
        grid-template-columns: repeat(5, 1fr);
    }
  }
 
   @media screen and (max-width: 1024px) {
       .feature-3__body{
              width: 100%;
       }

       .clients__content img{
            width: 13rem;
    }

     }
     
   @media screen and (max-width: 768px) {
           .feature-1__body{
               flex-direction: column;
           }

           .feature-1__img__wrapper img{
              max-width: 100%;
           }

           .feature-1__img__wrapper, .feature-1__detail{
               width: 100%;
           }
          
             .feature-1__detail{
                 margin-top: 6.5rem;
                 padding-left: 0;
             }

           .feature-1__detail ul{
               max-width: 100%;
               text-align: center;
           }
           
           .feature-3__body{
               flex-direction: column;   
               align-items: center;
        }

        .feature-3__body__feature{
            padding-left: 0rem;
            padding-right: 0rem;
        }
  
        .clients__content{
            flex-direction: column;
        }

        .clients__content img{
            width: auto;
    }

       .footer__content {
           display: block;
           text-align: center;
       }

       .footer__logo__wrapper img {
           margin: 0 auto;
       }

         .col-1{
             margin-top: 3.5rem;
         }

         .col-3{
             margin-bottom: 2rem;
         }

       }

   @media screen and (max-width: 550px) {
        .hero{
            background: url('images/bg-header-mobile.png') white;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: top;
        }
        .padd__ver{
            padding-left: 2rem;
            padding-right: 2rem;
        }
      }

   @media screen and (max-width: 480px) {
  
     }
    
    